.card {
    width: 50%;
    border: 1px solid #efefef;

    &__image {

    }

    &__content {
        position: relative;
        padding: 30px 30px 110px;

        > h2, p {
            margin-top: 0;
        }

        &__detail {
            text-align: justify;
        }
        &__action {
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 0;
            display: flex;
            justify-content: space-between;
        }
    }
}